<%- include('partials/header', { title: "Chat" }) %>

<div id="chat-wrapper">
  <h1>
    Welcome, <%= username %>! Online Users:
    <span id="online-users-count">0</span>
  </h1>

  <div id="chat-container">
    <div id="message-list"></div>
    <form id="message-form">
      <input
        id="message-input"
        type="text"
        placeholder="Type your message..."
        autocomplete="off"
        required
      />
      <button id="send-button" type="submit">Send</button>
    </form>
  </div>
</div>

<script>
  const username = "<%= username %>";
  const userId = "<%= userId %>";
</script>
<script src="/frontend.js"></script>
