<%- include('partials/header', { title: "Profile" }) %>

<div class="main-content">
   <h1>User Profile</h1>
   <p></p>
   <p><strong>Username: </strong> <%= username %></p>
   <p><strong>Join Date: </strong> <%= joinDate %></p>
   <p></p>
   <a href="/chat">Return to Chat</a>
</div>