<%- include('partials/header', { title: "Dashboard" }) %>

<div class="main-content">
  <h1>Welcome to the Socket Chat</h1>
  <p>Log in or register to begin chatting! Currently XX users online.</p>
  <button onclick="window.location.href='/login'">Login</button> or
  <button onclick="window.location.href='/signup'">SignUp</button>
</div>
