<%- include('partials/login', { title: "Home" }) %>

<div class="main-content">
  <h1>Welcome to the Socket Chat</h1>
  <p>Log in or register to begin chatting! Currently <span id="online-users-count">0</span> users online.</p>
  <form action="/login" method="post" style="width: 300px">
    <% if (typeof errorMessage !== "undefined" && errorMessage) { %>
    <p class="error-message"><%= errorMessage %></p>
    <% } %>
    <div class="form-input-container">
      <label for="username">Username:</label>
      <input type="text" id="username" name="username" required />
    </div>
    <div class="form-input-container">
      <label for="password">Password:</label>
      <input type="password" id="password" name="password" required />
    </div>
    <button type="submit" class="action-button full-width">Log In</button>
  </form>
  <script>
    const socket = new WebSocket("ws://localhost:3000/chat");

    socket.addEventListener("message", (event) => {
      const data = JSON.parse(event.data);
      if (data.type === "onlineCount") {
        document.getElementById("online-users-count").innerText = data.count;
      }
    });

    socket.addEventListener("open", () => {
      socket.send(JSON.stringify({ type: "join", username: "Guest" }));
    });
  </script>
  
  <p style="font-size: 16px; margin-top: 30px">
    Don't have an account?&nbsp;
    <a href="/signup" class="register-link">Sign up now!</a>
  </p>
</div>
